@media only screen and (max-width: 650px) {
    nav {
        display: none;
    }

    .sidebar__button{
        display: block;
    }

    .flex-container {
        flex-direction: column;
    }

    footer {
        min-height: 500px;
    }

    .grid-container {
        grid-template-columns: auto;
        width: 0px;
    }

    .all__receipes .flex-container:nth-of-type(2) {
        width: 10%;
    }

    .grid-item .food__card {
        min-width: 300px;
    }

    .all__user__receipes__card {
        width: 90%;
    }

    .create__receipe__card {
        width: 90%;
    }

    .user__card {
        width: 80%;
    }

    .user__card .form-group input {
        min-width: 90%;
    }
    .food__card {
        min-width: 300px;
    }

    .food__card img {
        width: 60%;
    }

    .register__form form {
        width: 80%;
    }

    .register__form .form-group input {
        min-width: 60%;
    }

    .login__form form {
        width: 80%;
    }

    .login__form .form-group input {
        min-width: 60%;
    }

    .create__receipe__card .form-group input  {
        min-width: 90%;
    }

    .create__receipe__card .form-group textarea  {
        min-width: 90%;
    }
    
    .single__receipe .flex-container .food__card {
        max-width: 80%;
    }

    .single__receipe .flex-container .food__card img {
        width: 200px;
    }

}

@media (min-width: 60em) {
    .modaloverlay .modal {
      height: 75%;
      margin: 5% auto;
      max-height: 57em;
      max-width: 66em;
      width: 85%;
    }
  }